/*
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */

.chat_toolbar {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: whitesmoke;
	border-top: 1px solid #C0C0C0;
}

.chat_tab {
	float: left;
	border-right: 1px solid #C0C0C0;
}

.chat_tab_title {
	font-weight: bold;
	padding: 5px 15px 5px 15px;
}

.chat_tab_title_highlight {
	color: #008000;
	font-weight: bold;
}

.chat_messages {
	background: whitesmoke;
	border: 1px solid #C0C0C0;
	position: absolute;
	top: -202px;
	height: 200px;
	width: 500px;
}

.chat_messages_area {
	padding: 5px;
}

.chat_messages_input {
	width: 95%;
	padding: 5px;
	position: absolute;
	bottom: 0px;
}

.not_displayed {
	display: none;
}